doctype html
html
    head
        title="Hello World"
        
    body
        header
            div#container
                    div.row
                        div.col-sm-12
                            h1.page-title Hello world this is the title to the page
